@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ubuntu);
}

/* .gameViewContainer {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #111111;
  border: 2px solid #27272a;
  border-bottom: 4px solid #27272a;
  border-radius: 0.75rem;
} */

@layer components {
  .container {
    @apply px-3 py-2 bg-[#111111] border-2 border-[#27272a] border-b-4 rounded-xl;
  }

  .chatBubble {
    @apply px-3 py-2 min-w-24 max-w-48 text-center z-30 border-2 border-[#afafaf] border-b-4 bg-white rounded-lg;
  }

  .divider {
    @apply h-[2px] rounded-lg w-full bg-[#27272a];
  }

  .playerCharacterImg {
    height: 300px;
    width: auto;
  }

  .jetbrains {
    font-family: var(--font-jetbrains);
  }

  .targetScreen {
    box-shadow: inset 0 0 10px 5px rgba(255, 255, 0, 50%);
  }
}
